#root {
  width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

main {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-height {
  height: 75px;
}